<ng-container *ngIf="data; else elseBlock">
    <div class="card" style="max-width: 100%;">
        <div class="card-header" style="max-width: 100%;">Detalle</div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{data?.tags?.name ?? ''}}
                </li>
                <li *ngFor="let tag of tagsValues"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    {{tag}}
                </li>
            </ul>
        </div>
    </div>
</ng-container>
<ng-template #elseBlock>
    No data for the place
    <span class="visually-hidden-focusable">No data for the place</span>
</ng-template>