.map-container {
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // margin: 30px;
  margin: 2rem 2rem;
}

.map-frame {
  border: 2px solid red;
  height: 100%;
}

#map {
  height: 72.5vh;
}
